body{
    margin-left: 35%;
}
h1{
    margin-left: -40%;
    text-align: center;
    font-size: 45px;
    color: brown;

}
#display{
    width: 450px;
    height: 70px;
    font-size: 60px;
    color: #fff;
    text-align: center;
    background-color: cornflowerblue;
}
#button{
    height: 100px;
    width: 100px;
    margin: 5px;
    font-size: 60px;
    border-radius: 10px;
    color: #fff;
}

.numButton{
    background-color: blue;
}

.symboleButton{
    background-color: brown;
}

